@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    
    .card-body{
        ul{
            list-style-type:none ;
            padding: 5px 0 ;

        }
    }
}